.login {
  background-color: black;
  color: white;
  width: 300px;
  height: 300px;
  margin-left: 20px;
  border-radius: 10px;
}

.form-body {
  display: grid;
  justify-content: center;
  padding-top: 35px;
}
