.login {
  background-color: black;
  color: white;
  width: 300px;
  height: 350px;
  margin-left: 20px;
  border-radius: 10px;
}

.form-body {
  display: grid;
  justify-content: center;
  padding-top: 35px;
}

.label {
  margin-left: 6px;
  margin-right: 30px;
  padding: 5px;
}

.each-rows {
  display: flex;
  margin: 10px;
  margin-left: 30px;
}

.btn {
  padding-top: -20px;
  height: 32px;
  width: 80px;
}
